<div>
    <br><br>
    <form #myForm='ngForm' >
        SSN: <input type="text" name='my-ssn' ngModel appSsnValidator required>
        SSN2: <input #my="ngModel"  type="text" name='my-ssn2' ngModel appSsnValidator>
        <span [hidden]='!(myForm.form.hasError("ssn", "my-ssn"))' >SSN invalid</span>
        <span [hidden]='!(myForm.form.hasError("ssn", "my-ssn2"))' >SSN2 invalid</span>
        <span [hidden]='!(myForm.form.hasError("required", "my-ssn"))' >my-ssn required invalid</span>
        <button (click)='log(my.valid);'>click</button>
        <button (click)='log(my.valid);'>click</button>
        <button (click)='log(my.valid);'>click</button>
    </form>
</div>